@font-face {
  font-family: 'dinnregular';
  src: url('../fonts/DINNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINNextLTPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINNextLTPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINNextLTPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINNextLTPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'dinnbold';
  src: url('../fonts/DINNextLTPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINNextLTPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINNextLTPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINNextLTPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'dinnlight';
  src: url('../fonts/DINNextLTPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DINNextLTPro-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DINNextLTPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/DINNextLTPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DINNextLTPro-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin:0;
}

h1{font-size: 2.4em; font-family: 'dinnbold', sans-serif;}

p {
  margin:0; font-size: 1.2em;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
