.abstract{
  @include clearfix;
  @extend .m-t-xs;

  .abstract-content{
    @include outer-container;
    @include clearfix;
    @extend .p-b-xl;
    @extend .p-t-xl;
    background-color: $light-gray;
    text-align: center;

    border-bottom: 1px dashed $light-gray;

    p{
      font-size: 1.1em;
      line-height: 1.5em;
      margin-top: .9em;
      max-width: 80%;
      display: inline-block;
    }
    @include media(min-width 320px max-width 779px) {
      h1{
        font-size: 2em;
      }
      p{
        font-size: 1.1em;
        line-height: 1.4em;
      }
    }
    .video{
      @extend .m-t-xl;
      @extend .m-l-xl;
      @extend .m-r-xl;

    }
  }
}
