$index-background: $light-gray;

.ActionComponents {
  padding-top: 96px;
}

.ActionComponent {
  margin-top: 18px;
  margin-bottom: 18px;

  @include row();
  font-weight: bold;

  &__index, &>&__group {
    display: inline-block;
  }

  &__index {
    border-radius: 50%;
    background-color: $index-background;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
    top: -15px;
    padding-top: 16px;
  }
}
