@import "header";
@import "footer";
@import "banner-home";
@import "banner-event";
@import "text-section";
@import "survey";
@import "submit-section";
@import "abstract";
@import "content";
@import "survey-navbar";
@import "project-cards";
@import "image-cards";
@import "event-scroll-menu";
@import "event-page";
@import "header-with-submenu";
@import "flash-notice";
@import "video";
@import "modal";
@import "col3-grid";

.container{
  @include media(min-width 960px max-width 1199px) {
  width: 960px; padding-left:15px; padding-right:15px;
  }
  @include media(min-width 780px max-width 959px) {
    width: 780px; padding-left:15px; padding-right:15px;
  }
  @include media(min-width 320px max-width 779px) {
    width: 100%; padding-left:10px; padding-right:10px;
  }
}
