.scroll-on-page {
  width:100%;
  top:80px;
  background-color: $light-purple;
  position: fixed;
  z-index: 99;

  a {
    text-decoration: none;
    color:#fff;
    line-height: 50px;
    padding: 0 20px;
  }

  li, .scroll-on-page-link {
    display: inline-block;
  }
}