.scroll-on-page {
  width:100%;
  top:80px;
  background-color: $light-purple;
  position: fixed;
  z-index: 99;

  a.scroll-on-page-link  {
    text-decoration: none;
    color:#fff;
    line-height: 50px;
    padding: 0 40px 0 0;
    opacity: .7;

    &:hover{
      opacity: 1;
    }

    @include media(min-width 320px max-width 779px) {
      padding: 0 20px 0 0;
    }
  }
}