footer{
  background-color: $gray-purple;
  @include clearfix;
  color:#fff;
  margin-top:60px;

  .container{
    @extend .p-b-xl;
  }

  &:before{
    height: 9px;
    background-color: $lime;
    width: 100%;
    display: block;
    content: '';
  }
  .ornament{
    &:before{
      height: 100px;
      width: 120px;
      display: block;
      content: '';
      position: absolute;
      right: 0;
      top:-60px;
      z-index: 10;
      background-size: 120px;
      background-image: url('/assets/images/illustrations/footer-ornament.png');
    }
  }
  h3{
    @extend .m-t-md;
    @extend .l-s-s; //letter-spacing-small
    font-size: 1em;
  }
  a{
    color:#fff;
    &:hover{color:$yellow;}
  }
  ul{
    @extend .m-t-lg;

    &.social{
      img{width: 30px;}
    }

    li{line-height: 2em;}
  }

  .logo img{width:100px;}

  .box{
    @include span-columns(3);
    @include clearfix;
    @extend .p-t-xl;

    @include media(min-width 640px max-width 759px, 12) {
      @include span-columns(6);
      @include omega(2);
      margin-top: 30px;
    }
    @include media(min-width 320px max-width 639px, 1) {
      @include span-columns(1);
    }

  }
  .copyright{
    background-color: darken($gray-purple, 10%);

    .container{
      @extend .p-t-md;
      @extend .p-b-md;
      font-size: .8em;
    }
    a{float: right;}
  }
}