$navbar-background-1: $blue;
$navbar-background-2: lighten($blue, 5%);
$navbar-background-3: lighten($blue, 10%);
$navbar-background: $light-gray;

.survey-navbar{
  background-color: $navbar-background;
  header{
    @extend .p-t-lg;
    @extend .p-b-md;
    h1{
    font-size: 32px;
    }
  }
}
.bar{
  color: white;
  @include fill-parent();
  @include row(table);

  div{
    @include span-columns(4);
    min-height: 70px;
    background-color: $navbar-background-2;
    margin-right: 0;

    @include media(min-width 320px max-width 779px) {
      width: 100%; display: block;
      label, p{padding-left: 80px;}
    }

    img{
      float: left;
      width: 70px;
      @extend .m-r;
    }

    label{
      margin-bottom: 0px;
      font-size: 13px;
      @extend .p-t;
      @extend .p-l;
      @extend .p-r;

    }
    p{
      font-size: 14px;
      text-transform: uppercase;
      @extend .p-b;
      @extend .p-l;
      @extend .p-r;
    }
    &:first-child{
      background-color: $navbar-background-1;
    }
    &:last-child{
      background-color: $navbar-background-3;
    }
  }
}

