$light-blue: #5793CD;
$dark-blue: #3754A3;
$white: #ffffff;
$stage-bar-color: white;
$background-submit-section: #EAEAEA;
$background-cards-section: #FAFAFA;

section.poll{
  padding: 55px 0;
}
section.survey{
  @include outer-container;
  .bars{
    color: $white;
    .stage{
      float: left;
      width: 33.333333%;
      height: 120px;
      background-color: $dark-blue;
      .stage-progress{
        height: 80px;
        position:relative;
        .circle.active{
          &, &::before, &::after{
            background-color: white;
          }
        }
        .circle{
          &, &::before, &::after{
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: block;
            background-color: $light-blue;
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
          }
        }
        .active.shadow{
          width: 40px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
        }
        .uparrow{
          &, &::before, &::after{
            content: "";
            border-radius: 2px;
            margin-bottom: -5px;
            display:block;
            width:10px;
            height:10px;
            background-color: $light-blue;
            position: absolute;
            margin-left:auto;
            margin-right: auto;
            right: 0;
            left: 0;
            bottom: 0;
            transform: rotate(45deg);
            overflow: hidden;
          }
        }
        .bar{
          display: block;
          position: absolute;
          content: "";
          height: 2px;
          width: 100%;
          background-color: $stage-bar-color;
          margin-top: auto;
          margin-bottom: auto;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      .stage-name{
        padding: 10px;
        height: 40px;
        background-color: $light-blue;
        text-align: center;
      }
    }
    div.stage:first-child{
      .stage-progress{
        .bar{
          background-color: $stage-bar-color;
          width: 50%;
          right: 0;
        }
      }
    }
    div.stage:last-child{
      .stage-progress{
        .bar{
          background-color: $stage-bar-color;
          width: 50%;
          left:0;
        }
      }
    }
  }
}

div.cards{
  @include outer-container;
  background-color: $background-cards-section;
  padding: 36px 0px;

  .card{
    @include omega(4n);
    @include span-columns(3);
    padding: 18px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    .card-image{
      position: relative;
      width: 62px;
      margin-left: auto;
      margin-right: auto;
    }
    .card-header{
      color: #4D5B5F;
      text-align: center;
      font-weight: bold;
      margin: 4px 0;
    }
    .card-copy{
      @include span-columns(8);
      @include shift(2);
      text-align: center;
      font-size: 14px;
    }
  }
  .selected{
    background-color: #F5F5F5;
    border-radius: 5px;
    .card-header{
      color: #01a652;
    }
  }
}
.submit-section{
  @include outer-container;
  background-color: $background-submit-section;
  padding: 30px 0;
  button{
    font-weight: bold;
    border-radius: 5px;
    display:block;
    background-color: #59C186;
    text-transform: uppercase;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: -4px 4px 0px #01A652;
    -moz-box-shadow: -4px 4px 0px #01A652;
    box-shadow: -4px 4px 0px #01A652;
  }
}
