$white: #ffffff;
$stage-bar-color: white;
$background-cards-section: #FAFAFA;
$background-submit-section: darken($background-cards-section, 3%);

section.poll{}
section.survey{
  @include outer-container;
  background-color: $background-cards-section;
  .bars{
    color: $white;
    background-color: $light-blue;
    @include clearfix;
    .stage{
      float: left;
      width: 33.333333%;
      .stage-progress{
        background-color: $blue;
        height: 80px;
        position:relative;
        .circle.active{
          &, &::before, &::after{
            background-color: white;
          }
        }
        .circle{
          &, &::before, &::after{
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: block;
            background-color: $light-blue;
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
          }
        }
        .active.shadow{
          width: 40px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
        }
        .uparrow{
          position: absolute;
          left: 50%;
          margin-left:-12px;
          width:24px;
          height: 10px;
          bottom: 0;
          background: url(../images/icons/uparrow.png) bottom no-repeat;
          background-size: 24px;
          z-index: 99;
        }
        .bar{
          display: block;
          position: absolute;
          content: "";
          height: 2px;
          width: 100%;
          background-color: $stage-bar-color;
          margin-top: auto;
          margin-bottom: auto;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      .stage-name{
        padding: 10px;
        text-align: center;
        &.active{
          font-family: 'dinnbold', sans-serif;
        }
      }
    }
    div.stage:first-child{
      .stage-progress{
        .bar{
          background-color: $stage-bar-color;
          width: 50%;
          right: 0;
        }
      }
    }
    div.stage:last-child{
      .stage-progress{
        .bar{
          background-color: $stage-bar-color;
          width: 50%;
          left:0;
        }
      }
    }
  }
}

div.cards{
  @include clearfix;
  text-align: center;
  display: block;
  .card{
    display:inline-block;
    width: 350px;
    height: 200px;
    border-radius: 12px;
    vertical-align: top;
      @include media(min-width 780px max-width 1199px) {
        width: 300px;
      }
      @include media(min-width 320px max-width 1199px) {
        width: 220px;
      }
    .card-image{
      position: relative;
      width: 62px;
      margin-left: auto;
      margin-right: auto;
    }
    h4.card-header{
      color: #4D5B5F;
      text-align: center;
    }
    .card-copy{
      display: -webkit-box;
      display: -moz-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -moz-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.4em;
    }
    &:hover{
      background-color: $background-submit-section;
      cursor: pointer;
    }
  }
  .selected{
    background-color: $background-submit-section;
    h4.card-header{
      color: #01a652;
    }
  }
}
.submit-section{
  @include outer-container;
  @include clearfix;
  position: relative;
  margin-top: 20px;

  button{
    font-family: 'dinnbold';
    border-radius: 8px;
    display:inline-block;
    background-color: $light-green;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 25px 25px 20px 25px;

    position: absolute;
    left:50%;
    top:-35px;
    transform: translate(-50%);

    -webkit-text-shadow: 1px -1px 0 $dark-green;
    -moz-text-shadow: 1px -1px 0 $dark-green;
    text-shadow: 1px -1px 0 $dark-green;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: -7px 7px 0px #01A652;
    -moz-box-shadow: -7px 7px 0px #01A652;
    box-shadow: -7px 7px 0px #01A652;

    &:hover{
    background-color: saturate($light-green, 10%);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    }

    &:active{
    margin: 5px 5px 0 0;
    -webkit-box-shadow: -2px 2px 0px #01A652;
    -moz-box-shadow: -2px 2px 0px #01A652;
    box-shadow: -2px 2px 0px #01A652;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    }
  }
}
