---
title: Las 11 Acciones
layout: alcalde
---
%section.las-11-acciones
  .container
    .ejes
      .eje1
        %h4 Seguridad, Justicia y Derechos Humanos
        %p Policías, violencia familiar, seguridad vial
      .acciones1
        .accion-full-width
          %h4
            Policía Hecho y Derecho
            %span
              Policía honesta y suficiente 100% capacitados.
          %p
            %strong Meta:
            Lograr tener una policía con el 100% de Pruebas de Control y de Confianza (PCC) aprobadas, cantidad de policías suficiente logrando al menos 1.5 policías operativos por cada mil habitantes. Así como policías con nivel media superior, capacitados en: adiestramiento policial, nuevo sistema penal acusatorio y derechos humanos.

%section.content
  .container
    .col2-grid
      .col
        %h3 Compromisos
        %ul
          %li Asistir a una reunión mensual de coordinación con sus homólogos y el Gobierno estatal que permitan consolidar las corporaciones policiales.
          %li Participar en reuniones quincenales en las que participe el secretario de seguridad pública municipal con sus homólogos y el Gobierno estatal para lograr la mayor coordinación posible en la materia.
          %li Participar en mesas de trabajo con los otros municipios metropolitanos y el Estado para planear y coordinar la política criminológica.
          %li Mantener vigentes y aprobadas a lo largo del trienio las pruebas de control de confianza de todos los elementos de la Secretaría de Seguridad. Separar aquellos elementos de sus cargos que tengan las Pruebas de Control de Confianza no aprobadas.
          %li Apoyar en la realización anual de una Auditoría Ciudadana de sus corporaciones policiales, y atender puntualmente las observaciones de dicha auditoría, buscando la mejor continua.
          %li Mensualmente el municipio entregará en una plantilla de información preestablecida por ACV.
          %li Crear una Comisión de Honor y Justicia con participación ciudadana.
      .col
        %h3 Elementos
        %ul
          %li Una policía suficiente consiste en: mínimo 1.5 policías operativos por cada mil habitantes.
          %li Sistema de carrera policial en funcionamiento y publicado en el Diario Oficial del Estado.
          %li Policías con PCC aprobadas y el estatus de éstas.
          %li Policías dados de alta y baja así como sus causas.
          %li Policías con certificado por la Universidad de las Ciencias de la Seguridad (UCS)
          %li Policías con preparatoria como mínimo
          %li Policías con adiestramiento policial.
          %li Policías capacitados en el Nuevo Sistema de Justicia Penal.
          %li Policías capacitados en Derechos Humanos
          %li Informe mensual entregado en plantilla proporcionada por ACV.
    %hr
    .col2-grid
      .col
        %h3 Criterios
        %ul
          %li La acción propuesta debe de ser estrictamente de competencia municipal
          %li El cumplimiento de la acción se puede lograr en 3 años o menos
          %li La acción debe representar un beneficio muy concreto para los ciudadanos.
          %li Se debe poder explicar en forma sencilla.
          %li La acción debe de ser del interés de los ciudadanos, y poder ser apropiadas y hasta vigiladas por ellos.
          %li La acción debe de poder ser medida cada trimestre en forma sencilla, y su medición traducida en una calificación.
      .col
        %h3 Razones
        %ul
          %li En el periodo 2012-2015 se realizó un esfuerzo significativo en los municipios metropolitanos, para avanzar en la depuración, dignificación y contratación policial. En el periodo 2015-2018 es fundamental consolidar la profesionalización de la policía y mejorar los mecanismos de coordinación metropolitana.