---
title: Comienza a evaluar
layout: application

---

-# %section.survey-navbar
-#   %section
-#     %h1
-#       Comienza a evaluar tu municipio
-#     = link_to "&larr; Vuelve a responder la encuesta", "#"
-#   %section#bar
-#
-#
-# %section.tagline
-#   %br
-#   %br
-#   %p
-#     Proyectos en los que puedes participar:
-#
-# %section#proyectos
-#
-# %section.tagline
-#   %p
-#     Organizaciones con las que puedes participar:
-#
-# %section#organizaciones

#evaluate-app
