---
title: Comienza a evaluar
---

%section.survey-navbar
  %section
    %h1
      Comienza a evaluar tu municipio
    = link_to "&larr; Vuelve a responder la encuesta", "#"
  %div.bar
    %div
      = image_tag "ejes/desarrollo.png"
      %label
        Tema
      %p
        Seguridad y Justicia
    %div
      %label
        Disponibilidad
      %p
        2 horas
    %div
      %label
        Modalidad
      %p
        Asistiendo a algún evento o espacio


%section.tagline
  %br
  %br
  %p
    Proyectos en los que puedes participar:

%section.proyectos
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div.active
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %p
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar

%section.tagline
  %p
    Organizaciones con las que puedes participar:
%section.organizaciones
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/desarrollo.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/educacion.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/empleo.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/desarrollo.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/educacion.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/empleo.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/desarrollo.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/educacion.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/empleo.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/desarrollo.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/educacion.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/empleo.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/desarrollo.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/educacion.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "ejes/empleo.jpg"
    %div
      %p
        Academia Nacional de Arquitectura
