---
title: Comienza a evaluar
---

%section.survey-navbar
  %title
    %h1
      Comienza a evaluar tu municipio
    = link_to "Vuelve a responder la encuesta", "#"
  %div.bar
    %div
      = image_tag "ejes/desarrollo.png"
      %label
        Tema
      %p
        Seguridad y Justicia
    %div
      %label
        Disponibilidad
      %p
        2 horas
    %div
      %label
        Modalidad
      %p
        Asistiendo a algún evento o espacio



%section.proyectos
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar
  %div
    %div
      %h1
        ¿Qué es CVNL?
    %div
      %p
        Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
      =image_tag "icons/citizen.png"
      %button
        Participar

%section.organizaciones
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
  %div
    %div
      =image_tag "icons/citizen.png"
    %div
      %p
        Academia Nacional de Arquitectura
