---
title: Comienza a evaluar
---

%section.survey-navbar
  %section
    %h1
      Comienza a evaluar tu municipio
    = link_to "&larr; Vuelve a responder la encuesta", "#"
  %div.bar
    %div
      = image_tag "ejes/desarrollo.png"
      %label
        Tema
      %p
        Seguridad y Justicia
    %div
      %label
        Disponibilidad
      %p
        2 horas
    %div
      %label
        Modalidad
      %p
        Asistiendo a algún evento o espacio


%section.tagline
  %br
  %br
  %p
    Proyectos en los que puedes participar:

%section#proyectos

%section#organizaciones
