---
title: ¿Cómo Vamos, Nuevo León?
layout: application

---

.home-page
  %section.banner-home
    .container
      .box.alcalde.text-center.inline-block
        =link_to data.links.acv, target: '_blank' do
          .logo
            = image_tag('logos/acv.png')
          %h2 Conoce las acciones
          %p a las que se comprometieron los Alcaldes
      .box.gober.text-center.inline-block
        =link_to data.links.gcv, target: '_blank' do
          .logo
            = image_tag('logos/gcv.png')
          %h2 Conoce las metas
          %p  a los que se comprometió el Gobernador
  %section.poll
    .container
      .text-center
        %h1 Participa
        %p ¿Qué temas te interesan?

      #survey
