---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .container
      .box.alcalde.text-center.inline-block
        =link_to data.links.acv, target: '_blank' do
          .logo.p-t-xxl
            =image_tag('logos/acv.png')
          %h2.m-t-xl Conoce las acciones
          %p a las que se comprometieron los Alcaldes
      .box.gober.text-center.inline-block
        =link_to data.links.gcv, target: '_blank' do
          .logo.p-t-xxl
            =image_tag('logos/gcv.png')
          %h2.m-t-xl Conoce los compromisos y metas
          %p  a los que se comprometió el Gobernador.
  %section.poll.p-b-xl
    .container.m-t-xxl
      .text-center
        %h1 Participa en Alcalde, Cómo Vamos
        %p ¿Qué temas te interesan?

      #survey.m-t-xl
