---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .container
      .box.alcalde.text-center.inline-block
        =link_to '#' do
          .logo.p-t-xxl
            =image_tag('logos/acv.png')
          %h2.m-t-xl Conoce las acciones
          %p para evaluar a los municipios
      .box.gober.text-center.inline-block
        =link_to '#' do
          .logo.p-t-xxl
            =image_tag('logos/gcv.png')
          %h2.m-t-xl Conoce los compromisos y metas
          %p para evaluar al Gobernador
  %section.poll
    .container.m-t-xxl
      .text-center
        %h1 Participa
        %p Muy pronto abriremos en este espacio mecanismos digitales de partición ciudadana.
