---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .alcalde
      =link_to '#' do
        =image_tag('logos/alcalde.png')
        %h2 Conoce las acciones
        %p en las que se están evaluando a los Alcaldes de tu Municipio
    .gober
      =link_to '#' do
        =image_tag('logos/gober.png')
        %h2 Conoce los compromisos y metas
        %p para evaluar al Gobernador
  %section.poll
    %h1 Participa en: Alcalde, Cómo Vamos NL
    %p Ayúdanos a saber qué temas te interesan
