---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .container
      .box.alcalde.text-center.inline-block
        =link_to '#' do
          .logo.p-t-xxl
            =image_tag('logos/acv.png')
          %h2.m-t-xl Conoce las acciones
          %p en las que se están evaluando a los Alcaldes de tu Municipio
      .box.gober.text-center.inline-block
        =link_to '#' do
          .logo.p-t-xxl
            =image_tag('logos/gcv.png')
          %h2.m-t-xl Conoce los compromisos y metas
          %p para evaluar al Gobernador
  %section.poll
    .container.m-t-xxl
      .text-center
        %h1 Participa en: Alcalde, Cómo Vamos NL
        %p Ayúdanos a saber qué temas te interesan
