---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .container
      .box.alcalde.text-center.inline-block
        =link_to data.links.acv do
          .logo.p-t-xxl
            =image_tag('logos/acv.png')
          %h2.m-t-xl Conoce las acciones
          %p para evaluar a los municipios
      .box.gober.text-center.inline-block
        =link_to data.links.gcv do
          .logo.p-t-xxl
            =image_tag('logos/gcv.png')
          %h2.m-t-xl Conoce los compromisos y metas
          %p para evaluar al Gobernador
  %section.poll
    .container.m-t-xxl
      .text-center
        %h1 Participa
        %p Muy pronto abriremos en este espacio mecanismos digitales de partición ciudadana.

  %section.survey
    .bars
      .stage
        %div.stage-progress
          %div.bar
          %div.uparrow
        %div.stage-name
          ¿Qué tema te interesa?
      .stage
        .stage-progress
          %div.bar
          %div.uparrow
        .stage-name
          ¿Cuánto tiempo tienes disponible?
      .stage
        .stage-progress
          %div.bar
          %div.uparrow
        .stage-name
          ¿Cómo te gustaría ayudar?
    .cards

      .card
        .card-image
          =image_tag("icons/no.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .card
        .card-image
          =image_tag("icons/no.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .card.selected
        .card-image
          =image_tag("icons/yes.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .card
        .card-image
          =image_tag("icons/no.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .card.selected
        .card-image
          =image_tag("icons/yes.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

      .card
        .card-image
          =image_tag("icons/no.png")
        .card-header
          The Last Card
        .card-copy
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %div.submit-section
      %button
        avanzar &rarr;
