---
title: Cómo Vamos NL?
---

.home-page
  %section.banner
    .container
      .box.alcalde.text-center.inline-block
        =link_to data.links.acv, target: '_blank' do
          .logo.p-t-xxl
            =image_tag('logos/acv.png')
          %h2.m-t-xl Conoce las acciones
          %p para evaluar a los municipios
      .box.gober.text-center.inline-block
        =link_to data.links.gcv, target: '_blank' do
          .logo.p-t-xxl
            =image_tag('logos/gcv.png')
          %h2.m-t-xl Conoce los compromisos y metas
          %p para evaluar al Gobernador
  %section.poll
    .container.m-t-xxl
      .text-center
        %h1 Participa en: Alcalde, Cómo Vamos NL?
        %p Ayúdanos a saber qué temas te interesan

  %section.survey
    .bars
      .stage
        %div.stage-progress
          %div.bar
          %div.circle
        %div.stage-name
          ¿Qué tema te interesa?
      .stage
        %div.stage-progress
          %div.bar
          %div.circle
        .stage-name
          ¿Cuánto tiempo tienes disponible?
      .stage
        %div.stage-progress
          %div.bar
          %div.circle
          %div.uparrow
        .stage-name
          ¿Cómo te gustaría ayudar?
  %section#cards

  %div.submit-section
    %button
      Comienza a participar &rarr;
