---
title: Línea de Tiempo
layout: cvnl
---
%section.content-gray
  .container
    %h1 Línea de Tiempo
    %p Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda ciudadana en la gestión pública mediante mecanismos de diálogo, compromiso, colaboración y rendición de cuentas.

    %section#cd-timeline.cd-container

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/gcv.png'
        .cd-timeline-content
          %h2 Primera sesión del Consejo Estratégico
          %small=link_to '#Gobernanza', '#'
          %p Sesiona por primera vez el Consejo estratégico, integrado por destacados líderes de nuestra comunidad que aportan una visión estratégica para Cómo Vamos, Nuevo León.
          %span.cd-date 6 de febrero de 2016

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/cvnl.png'
        .cd-timeline-content
          %h2 Policías a la Cancha
          %small=link_to '#Seguridad', '#'
          %p Primer Torneo de Fútbol para policías cuyo objetivo es mostrar un rostro que no conocemos de quienes son responsables de la seguridad de nuestra ciudad.
          %span.cd-date 7, 8 y 9 de agosto de 2015

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/gcv.png'
        .cd-timeline-content
          %h2 Firma de compromisos de candidatos
          %small=link_to '#GóberCómoVamos', '#'
          %small=link_to '#Candidatos', '#'
          %p Los candidatos a Alcaldes y Gobernador(a) firman su compromiso para ser evaluados por Cómo Vamos, Nuevo León en caso de ser electos.
          %span.cd-date Abril y Mayo 2015

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/gcv.png'
        .cd-timeline-content
          %h2 Debates con candidatos a la gubernatura
          %small=link_to '#GóberCómoVamos', '#'
          %small=link_to '#AgendaCiudadana', '#'
          %p Se realizaron 4 debates temáticos en las universidades del Estado. El objetivo principal de los debates es contrastar las posturas y compromisos de los candidatos sobre las metas planteadas por Gober, Cómo Vamos.
          %span.cd-date Abril y Mayo 2015

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/acv.png'
        .cd-timeline-content
          %h2 Presentación de la Agenda Ciudadana
          %small=link_to '#AgendaCiudadana', '#'
          %p Los intereses y preocupaciones de la ciudadanía, estudiados por más de 120 expertos y puestos en un documento.
          %span.cd-date Enero 2014

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/acv.png'
        .cd-timeline-content
          %h2 Primer Paseo Metropolitano
          %small=link_to '#PaseoMetropolitano', '#'
          %small=link_to '#Movilidad', '#'
          %small=link_to '#SeguridadVial', '#'
          %small=link_to '#VíaRecreativa', '#'
          %p La primer vía recreativa metropolitana en Nuevo León. 39 km de calles libres de autos para movernos de forma sustentable que recorre los municipios de Guadalupe, Monterrey, San Pedro y Santa Catarina
          %span.cd-date 26 de octubre de 2014

      .cd-timeline-block
        .cd-timeline-img
          =image_tag 'logos/acv.png'
        .cd-timeline-content
          %h2 Nace Alcalde, Cómo Vamos
          %small=link_to '#AlcaldeCómoVamos', '#'
          %p Nace Alcalde, Cómo Vamos: una forma de observar los avances de gobierno de los alcaldes del Área Metropolitana de Monterrey.
          %span.cd-date 2012

