---
title: Organizaciones
layout: cvnl
---
%section.content
  .container
    %h1 Organizaciones
    %p Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda ciudadana en la gestión pública mediante mecanismos de diálogo, compromiso, colaboración y rendición de cuentas.

%section.organizations.p-t-xl
  .container
    .organization
      .organization-image=image_tag "icons/organization.png"
      .organization-name
        %p AVANCE Por los Derechos de México, A.C.
    .organization
      .organization-image
        =image_tag "icons/organization.png"
      .organization-name
        %p AVANCE Por los Derechos de México, A.C.