---
title: Paseo Metropolitano 2016
layout: event

---
.scroll-on-page
  .container
    =link_to '¿Qué es?', '#que-es', class: 'scroll-on-page-link'
    =link_to 'Ruta', '#ruta', class: 'scroll-on-page-link'
    =link_to 'Staff', '#staff', class: 'scroll-on-page-link'
    =link_to 'Normas', '#normas', class: 'scroll-on-page-link'

.event-page
  %section.banner-event
    .container
      =image_tag 'eventos/paseo-metropolitano.png'
  %section.abstract#que-es.anchor
    .container
      .abstract-content
        %h1 ¿Qué es Paseo Metropolitano?
        %p
          Un evento para toda la familia que consiste en una ruta que integra las vías recreativas de varios municipios del Área Metropolitana de Monterrey. Es el segundo año que se realiza este gran paseo que incluye actividades recreativas, se puede recorrer a pie, bicicleta, patines, triciclo, monociclo, en fin, en cualquier forma de movilidad sustentable.
        %p
          Es un esfuerzo conjunto entre organizaciones de la sociedad civil, universidades y gobiernos locales para promover una visión metropolitana e integral de las vías recreativas, y para identificar retos y oportunidades de proyectos de movilidad más amplios.

        .video
          .video-wrapper
            %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/8NusmvSbZUc?showinfo=0&iv_load_policy=3&controls=0"}
  %section.content
    .container
      %h3#ruta.anchor Ruta
      .image
        = link_to image_tag('eventos/paseo-metropolitano-ruta.png'), image_path('eventos/paseo-metropolitano-ruta.png'), target: '_blank'

      %hr

      %h3#staff.anchor Staff
      %p En ésta segunda edición del Paseo Metropolitano esperamos contar con cientos de voluntarios que formen parte del STAFF, los cuales estarán ubicados en diferentes zonas de la ruta acompañando y apoyando a los asistentes.
      %h4 La experiencia del STAFF consistirá en:
      %ul
        %li Apoyar a los asistentes.
        %li Orientar y asesorar a los asistentes brindando información.
        %li Fortalecer la organización y operación del evento.
        %li Disfrutar del evento.
      %h4 ¿Quién puede ser voluntario?
      %p Cualquier persona que desee participar de modo responsable y desinteresado y esté dispuesta a dedicar parte de su tiempo libre a los paseantes.
      %ul
        %li Ser mayor de 16 años.
        %li Estar disponible el día 10 de abril de 2016.
      %h4 ¿Cómo participar?
      %p ¡Únete a nuestra STAFF para ayudarnos a hacer de este Paseo Metropolitano un éxito!
      .action
        = link_to 'http://bit.ly/1OIkW42', target: '_blank' do
          %button Quiero sumarme al Staff →
      %hr

      %h3#normas.anchor Normas de Convivencia
      %h4 Asistentes
      %ol
        %li Dentro de la ruta no se permiten ningún vehículo de motor (ej. Motocicletas, autos, etc).
        %li Transita por el espacio destinado al paseo metropolitano.
        %li Respeta la señalización ubicada en la ruta.
        %li Transita por tu lado derecho.
        %li No circules con bicicletas en banquetas.
        %li La velocidad máxima para circular en cualquier tipo de transporte es de 20 km/hr.
        %li En caso de utilizar la bicicleta, respeta los derechos de los peatón. Reduce la velocidad y cede el paso.
        %li Deposita la basura en su lugar.
        %li Todos los niños deben ir acompañados de un adulto responsable.
        %li Las áreas verdes de la ruta del paseo metropolitano deben ser respetadas y cuidadas.
        %li El horario del evento es de 7:00 a 13:00 horas.
      %h4 Asistentes con animales de compañía
      %ol
        %li Podrás asistir con tus animales de compañía siempre y cuando éstos no sean animales exóticos, de granja o en peligro de extinción.
        %li Todas los animales de compañía deben de ir con correa corta y a cargo de un adulto responsable.
        %li Es responsabilidad de cada asistente recoger las heces de sus animales de compañía y depositarlas en un bote de basura.
        %li En caso de que algún animal de compañía llegue a causar un accidente, el dueño debe hacerse responsable dando sus datos y los de su animal de compañía a la autoridad responsable.
      %h4 Actividades
      %ol
        %li El paseo metropolitano es un evento apartidista y laico, se prohíbe cualquier actividad de esa índole.
        %li Está estrictamente prohibido la venta de cualquier tipo de servicio, artículo o producto, ni recaudación de fondos por medio de boteos.
        %li Está prohibido el uso de megáfonos.
        %li En el caso de la música, esta deberá de ser apropiada para un evento familiar sin mensajes ofensivos o violentos.
        %li Toda la publicidad y participación dentro del evento tendrá que ser coordinada por el municipio correspondiente.
        %li Queda estrictamente prohibido la repartición de folletos, panfletos, trípticos o material de papel.
