---
title: ¿Qué es?
layout: application
---
%section.text-section
  %h1 ¿Qué es CVNL?
  %p 
    Cómo Vamos Nuevo León (CVNL) es una plataforma que tiene como objetivo incorporar una agenda
    ciudadana en la gestión pública mediante mecanismos de diálogo,
    compromiso, colaboración y rendición de cuentas.
    %ul 
      %li
        Plataforma: Abierta a ciudadanos que comparten metas en común 
        y conocimientos especializados en diferentes temas.
      %li
        Agenda Ciudadana: Aspiración colectiva y focalizada
      %li
        Compromisos: Quienes aspiran a gobernar se comprometen
      %li
        Diálogo y Colaboración: Interlocución permanente entre
        funcionarios públicos y ciudadanos.
      %li
        Rendición de cuentas: Evaluación periódica, con indicadores
        objetivos, sobre el avance en compromisos.
